/* branding kit ideas for website - by Alex */

/* color palette 1 */

body {
    color: #0C0910;
    color: #9A348E;
    color: #E88EED;
    color: #D7FDF0;
    color: #FFFFFF;
}

/* color palette 2 */

body {
    color: #18215d;
    color: #503197;
    color: #bf53c9;
    color: #e17cb7;
    color: #efaaa5;
    color: #f6e0c8;
}

/* color palette 3 */

body {
    color: #131626;
    color: #4d4d80; 
    color: #e6a1cf;
    color: #ffe6ea;
}

/* Test - I really like this pallette with saturn's rings */
body {
    background-color: #131626;
    color: #131626;
    color: #4d4d80; 
    color: #e6a1cf;
    color: #ffe6ea;
}